<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="styles.css">
        <title>Ejercicio 4b</title>
    </head>
    
    <body>
        <div class="ex4b_3_contenedor">
            <div class="ex4b_3">
                <p class="ex4b_3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Atque, quod quos, nam alias qui sed culpa impedit explicabo excepturi eum aperiam id 
                    minima quis expedita reprehenderit aut accusantium, harum totam ex! Earum enim rerum 
                    culpa pariatur veniam quo natus dolorum quis dolor, expedita adipisci deserunt laborum 
                    vitae id? Velit, nesciunt?
                </p>
            </div>
            <div class="ex4b_3_fondo"></div>
        </div>
    
    </body>
    
    </html>