h3 {
    color: red;
    border: 1px solid chocolate;
    padding: 10px;
    background-color: aquamarine;
}

h1 {
    color: blue;
}

div.tabla_ex_4{
    padding: 20px;
    border-radius: 10px;
}

table.tabla_ex_4{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

tr.tabla_ex_4{
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

td.tabla_ex_4{
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

img.tabla_ex_4{
    border-radius: 10px;
}

div.ex4b{
    text-align: center;
}

a.ex4b{
    position: relative;
    top: 300px;
}

h1.cabezera{
    background-color: blue;
    color: white;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
}

h1.pie_pagina{
    background-color: red;
    color: white;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

div.ex4b_2_contenedor{
    background-color: beige;
    width: 50%;
    padding: 20px;
    margin: auto;
}

div.ex4b_rectangulo{
    background-color: red;
    position: relative;
    width: 100%;
    height: 240px;
    text-align: center;
    align-self: center;
}

span.ex4b_2{
    font-size: 50px;
}

div.ex4b_circulo1{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 20px solid red;
    border-radius: 40px;
    position: absolute;
    top: 200px;
    left: -40px;
}

div.ex4b_circulo2{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 20px solid red;
    border-radius: 40px;
    position: absolute;
    bottom: 200px;
    right: -40px;
}

div.ex4b_circulo3{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 20px solid red;
    border-radius: 40px;
    position: absolute;
    top: -40px;
    left: -40px;
}

div.ex4b_circulo4{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 20px solid red;
    border-radius: 40px;
    position: absolute;
    bottom: -40px;
    right: -40px; 
}

div.ex5{
    text-align: center;
}

table.ex5{
    text-align: center;
}

tr.ex5{
    text-align: center;
    height: 100px;
    width: 100px;
}

td.right{
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: red;
}

td.down{
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: green;
}

td.up{
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: blue;
}

td.left{
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: black;
}

div.ex5{
    margin: auto;
    width: 20%;
}

i.fa-hand-point-right{
    font-size: 100px;
    color: white;
}

i.fa-hand-point-down{
    font-size: 100px;
    color: white;
}

i.fa-hand-point-up{
    font-size: 100px;
    color: white;
}

i.fa-hand-point-left{
    font-size: 100px;
    color: white;
}

div.ex4b_3_contenedor{
    margin: auto;
    width: 50%;
    background-color: blue;
}

div.ex4b_3{
    position: relative;
    z-index: 2;
    padding: 30px;

}

div.ex4b_3_fondo{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

p.ex4b_3{
    font-size: 18px;
}

div.ex8_fila div{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: 2px;
}

div.ex8_mina:hover{
    background-color: red;
}

div.ex11_cabecera{
    background-color: gray;
    position: fixed;
    top: 0px;
    text-align: center;
    margin: 0px;
}

div.ex11_text{
    background-color: yellowgreen;
    margin: 40px;
}

div.ex12_form{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

div[class^=ex12_form]{
    background-color: gray;
}

div[class^=ex12_form_inferior]{
    display: inline-block;
}

div.rojos div div{
    background-color: red;
    text-align: center;
    margin-bottom: 10px;
}

div.verdes div div{
    background-color: green;
    text-align: center;
    margin-bottom: 10px;
}

div.contenedor div.texto{
    margin: auto;
    text-align: center;
}